 .liquid-chart{
 	// position:absolute;
 	.liquid-fill{
 		margin:0 auto;
 	}
 	.liquid-text{
 		color:#294D99;
 		font-size: 14px;
 		font-weight: bold;
 		line-height: 1.5;
 		text-align: center;
 	}
 }

