.infomodal-ul{
    li{
        margin:15px;
        //color:#48c78f;
        color: #fff;
        font-weight: bold;
        font-size: 16px;
        div{
            margin:10px 0;
        }
        .name-div{
            border-bottom: solid 1px #ccc;
            font-size: 20px;
        }

    }
}